<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <!-- start 自动化引擎，自动生成代码 servlet-->
  <servlet>
    <servlet-name>EngineStatView</servlet-name>
    <servlet-class>tech.yobbo.engine.support.http.EngineViewServlet</servlet-class>
    <init-param>
      <param-name>dataSource</param-name>
      <param-value>dataSource</param-value>
    </init-param>
    <init-param>
    	<param-name>base_path</param-name>
    	<param-value>E:/JAVA/eclipse-Tool/workspaces/front-musik/FrontMusikEngine/src/main/java</param-value>
    </init-param>
    <init-param>
    	<param-name>package_name</param-name>
    	<param-value>tech.yobbo</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name> EngineStatView</servlet-name>
    <url-pattern>/em/*</url-pattern>
  </servlet-mapping>
  <!-- end 自动化引擎，自动生成代码 servlet-->

  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name> DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/spring-service.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!--<servlet>
    <servlet-name>FrontMusik-app-Dispath</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/spring-web.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontMusik-app-Dispath</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>-->
</web-app>
